@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;

  background-color: rgb(243 244 246);
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
  color: #0b253c;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 60px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: #828282;
}

.goals {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

.goal {
  background-color: #fff;
  margin: 10px 0;
  padding: 20px 0 10px;
  position: relative;
}

.goal .close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  background: none;
}

.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #0b253c;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}


/* DASHBOARD TABLE */

table{
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}
td , th{
  padding-left: .5rem;
  padding-right: .5rem;
}
th > span {
  font-size: .7rem;
}

/* WELCOME PAGE */

.welcome-main-section{
  padding-bottom: 2rem;
}
.welcome-container{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.welcome-container > h1{
  padding-top: 4rem;
  font-size: 2.6rem;
  color: #0b253c;
}

.welcome-container > h4{
  padding-top: 1rem;
  font-weight: 400;
  color: #5d5d5d;
  line-height: 1.7rem;
}
.welcome-second-section{
  padding-top: 5rem;
  padding-bottom: 7rem;
  color: #fff;
}
.welcome-second-section:before{
  content: "";
  background-color: #0b253c;
  position: absolute;
  height: 95%;
  width: 4000px;
  left: -2000px;
  z-index: -1;
}
.welcome-second-section > h2{
  padding-top: 6rem;
  padding-bottom: 2.9rem;
  font-size: 2rem;
  color: #fff;
}
.welcome-second-section > h3{
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #fff;
}
.welcome-second-section > .welcome-btn{
  padding: 1.3rem 5rem;
  border: 1px solid #000;
  border-radius: 5px;
  background: #fff;
  color: #0b253c;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
}

.welcome-btn:hover, .contact-btn:hover {
  transform: scale(0.98);
}

.welcome-footer-container{
  color: #fff;
  padding-bottom: 1rem;
}

.welcome-footer-container > h5 {
  padding-top: .7rem;
  padding-bottom: 2rem;
  font-weight: 400;
}

.contact-btn{
  border: 1px solid #1fc1c3;
  background: #1fc1c3;
  border-radius: 1.5rem;
  padding: .7rem 1.5rem .7rem 1.5rem;
}

.contact-btn > a {
  color: #fff;
}











@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}